<%- include("partials/header") %>

<div class="container">

  <h1>This is the post you want to delete.</h1>

  <p>Are you quite certain that you wish to delete this post? There is <em>no</em> way to recover it once deleted.</p>

  <form style="display: inline;" action="/d/<%= item._id %>?_method=DELETE" method="POST">

    <button class="btn btn-outline-danger">Yes. Remove it from this mortal coil.</button>

  </form>

  <a href="/p/<%= item._id %>" class="btn btn-outline-success">No. It shall live another day.</a>

</div>

<div class="container">

  <h2><%= item.title %></h2>

  <p><%= item.body %></p>
  <p>Posted on <%= item.dateString %></p>

</div>

<%- include("partials/footer") %>