<%- include("partials/header") %>

<div class="container">

  <h1>These is the post you want to delete.</h1>

  <p>Are you quite certain that you wish to delete this post? There is <em>no</em> way to recover it once deleted.</p>

  <button class="btn btn-outline-danger">Yes. Remove it from this mortal coil.</button>
  <button class="btn btn-outline-success">No. It shall live another day.</button>

</div>

<div class="container">

  <h2><%= item.title %></h2>

  <p><%= item.body %></p>
  <p>Posted on <%= item.dateString %> - Edit</p>

</div>

<%- include("partials/footer") %>
