<%- include("partials/header") %>

<div class="container">

  <div class="pageId">

    <h1>This is your blog.</h1>

  </div>

  <% data.forEach(function(item){ %>

  <div class="post">

    <h2><%= item.title %></h2>

    <p><%= item.body%></p>

    <p>Posted on <%= item.dateString %></p>

  </div>

  <% }); %>

</div>

<%- include("partials/footer") %>