<%- include("partials/header") %>

<div class="container">

  <div class="pageId">
    <h1>These are your posts.</h1>
  </div>

  <table class="table">

    <% data.forEach(function(item){ %>

    <tr>
      <td><a href="/p/<%= item._id %>"><%= item.title %></a></td>
      <td><a href="/p/<%= item._id %>/edit">
          <ion-icon name="pencil-outline"></ion-icon>
        </a></td>
      <td><a href="/d/<%= item._id %>">
          <ion-icon name="trash-outline"></ion-icon>
        </a></td>
      <td><%= item.dateString %></td>
    </tr>

    <%})%>

  </table>

</div>

<%- include("partials/footer") %>