<%- include("partials/header") %>

<div class="container">
  <h1>This is the post you requested.</h1>

  <h2><%= item.title %></h2>

  <p><%= item.body %></p>
  <p>Posted on <%= item.dateString %> - Edit</p>

</div>

<%- include("partials/footer") %>
