<%- include("partials/header") %>

<div class="container">
  <h1>This is the post you requested.</h1>

  <h2><%= item.title %></h2>

  <p><%= item.body %></p>
  <p>Posted on <%= item.dateString %> -
    <a href="/p/<%= item._id %>/edit">
      <ion-icon name="pencil-outline"></ion-icon>
    </a>
    <a href="/d/<%= item._id %>">
      <ion-icon name="trash-outline"></ion-icon>
    </a>
  </p>

</div>

<%- include("partials/footer") %>